{%extends './base.html' %}

{%block title%} Inicio {%endblock%}

{%block body %}

    <!--HEADER-->
    <header class="header" id="header">
        <nav class="nav container">

            <div class="nav__btns">
                
                <!--Theme-->
                <i class="uil uil-moon change-theme" id="theme-button"></i>
            </div>

            <a href="#" class="nav__logo">Keiki<span>Pet</span></a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">

                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">
                            <i class="uil uil-estate nav__icon"></i> Home
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#about" class="nav__link">
                            <i class="uil uil-user nav__icon"></i> About
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#pasos" class="nav__link">
                            <i class="uil uil-clipboard-notes nav__icon"></i> Pasos
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#skills" class="nav__link">
                            <i class="uil uil-file-alt nav__icon"></i> Consejos
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#portafolio" class="nav__link">
                            <i class="uil uil-arrow-circle-right nav__icon"></i> Log
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#contact" class="nav__link">
                            <i class="uil uil-message nav__icon"></i> Contact
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>      

            <div class="nav__btns">

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>

        </nav>
    </header>

    <!--MAIN-->
    <main class="main">

    <!--HOME-->
    <section class="home section" id="home">
        <div class="home__container container">

            <div data-aos="fade-up" class="home__content">

                <div class="home__data">
                    <h1 class="home__title">Hola, Nosotros somos <span>KeikiPet</span></h1>
                    <h3 class="home__subtitle">Amantes de las mascotas</h3>
                    <p class="home__description">Conoceme un poco más...</p>
                
                </div>

                <div class="home__scroll">
                    <a href="#about" class="home__scroll-button button--flex">
                        <i class="uil uil-mouse-alt home__scroll-mouse"></i>
                        <span class="home__scroll-name">Conoceme más</span>
                        <i class="uil uil-arrow-down home__scroll-arrow"></i>
                    </a>
                </div>

            </div>

            <div data-aos="fade-up" class="home__content2">

                <div class="home__img">
                    <img src="/static/img/Home.png" alt="imagen">
                </div>

                <div class="home__social">
                    <a href="https://www.facebook.com/" target="blank" class="home__social-icon">
                        <i class="uil uil-facebook-f"></i>
                    </a>

                    <a href="https://www.instagram.com/keiki_pet/" target="blank" class="home__social-icon">
                        <i class="uil uil-instagram"></i>
                    </a>

                    <a href="https://www.youtube.com/" target="blank" class="home__social-icon">
                        <i class="uil uil-play"></i>
                    </a>
                </div>
                
                <!--<div class="home__button">
                    
                    <div>
                        <a href="#contact" class="button button--flex">
                            Contact Me<i class="uil uil-message button__icon"></i>
                        </a>
                    </div>
                    <div>
                        <a href="#contact" class="button button--flex">
                            Contact Me<i class="uil uil-message button__icon"></i>
                        </a>
                    </div>
                </div>-->

            </div>

        </div>  

    </section>

    <!--ABOUT-->
    <section class="about section" id="about">
        <h2 class="section__title">About Us</h2>
        <span class="section__subtitle">¿Quienes somos?</span>

        <div data-aos="fade-up" class="about__container container grid">
            <img src="/static/img/AboutUs.png" alt="imagen" class="about__img">

            <div class="about__data">
                <p class="about__description">KeikiPet es una red social para personas que esten buscando su amigo peludo. Conectamos a los perros de todo el mundo . Ayudamos a encontrar la pareja perfecta o la cita de juegos para perros.
                    Nuestra misión es que nuestros usuarios compartan su amor y cuidado por sus perros y los conecten en todo el mundo.</p>
            
                <div class="about__info">
                    <div>
                        <span class="about__info-title">00</span>
                        <span class="about__info-name">Fundacion<br> Adopción</span>
                    </div>

                    <div>
                        <span class="about__info-title">00</span>
                        <span class="about__info-name">Mascotas <br> Adoptadas</span>
                    </div>

                    <div>
                        <span class="about__info-title">00</span>
                        <span class="about__info-name">Usuarios <br> Conectados</span>
                    </div>
                </div>

                <div class="about__buttons"> <!--Hoja de vida en pdf si tengo o trabajos-->
                    <a download="" href="Assets/IMG/Hoja de vida.pdf" class="button button--flex">
                        Formulario<i class="uil uil-download-alt button__icon"></i>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <!--QUALIFICATION-->
    <section class="qualification section" id="pasos">
        <h2 class="section__title">Pasos</h2>
        <span class="section__subtitle">Incia tu viaje</span>

        <div data-aos="fade-up" class="qualification__container container">

            <div class="qualification__tabs">
                <div class="qualification__button button--flex qualification__active" data-target='#education'>
                    <i class="uil uil-user-circle qualification__icon"></i>
                    Persona
                </div>

                <div class="qualification__button button--flex" data-target='#work'>
                    <i class="uil uil-clinic-medical qualification__icon"></i>
                    Fundación
                </div>
            </div>

            <div class="qualification__sections">
                
                <!--QUALIFICATION CONTENIDO 1 USUARIO-->
                <div class="qualification__content qualification__active" data-content id="education">
                    <!--QUALIFICATION 1-->
                    <div class="qualification__data">
                        <div>
                            <h3 class="qualification__title">Informate sobre la mascota que quieres</h3>
                            <span class="qualification__subtitle">Lee los consejos</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-arrow-right"></i>
                                01
                            </div>
                        </div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <span class="qualification__line"></span>
                        </div>

                    </div>

                    <!--QUALIFICATION 2-->
                    <div class="qualification__data">

                        <div></div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <span class="qualification__line"></span>
                        </div>

                        <div>
                            <h3 class="qualification__title">Unete a nuestra comunidad</h3>
                            <span class="qualification__subtitle">Registrate a KeikiPet</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-arrow-right"></i>
                                02
                            </div>
                        </div>

                    </div>

                    <!--QUALIFICATION 3-->
                    <div class="qualification__data">
                        <div>
                            <h3 class="qualification__title">Sube todos tus documentos</h3>
                            <span class="qualification__subtitle">Descarga formulario</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-arrow-right"></i>
                                03
                            </div>
                        </div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <span class="qualification__line"></span>
                        </div>
                        
                    </div>

                    <!--QUALIFICATION 4-->
                    <div class="qualification__data">
                        <div></div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <span class="qualification__line"></span>
                        </div>

                        <div>
                            <h3 class="qualification__title">Busca tu mascota ideal</h3>
                            <span class="qualification__subtitle">Match con tu amigo</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-arrow-right"></i>
                                04
                            </div>
                        </div>
                    </div>
                    
                    <!--QUALIFICATION 5-->
                    <div class="qualification__data">
                        <div>
                            <h3 class="qualification__title">Presenta tu entrevista</h3>
                            <span class="qualification__subtitle">Se tu mismo</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-arrow-right"></i>
                                05                          
                            </div>
                        </div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <span class="qualification__line"></span>
                        </div>
                        
                    </div>

                    <!--QUALIFICATION 6-->
                    <div class="qualification__data">
                        <div></div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <!--<span class="qualification__line"></span>-->
                        </div>

                        <div>
                            <h3 class="qualification__title">Gana un amigo de por vida</h3>
                            <span class="qualification__subtitle">Amalo y cuidalo</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-arrow-right"></i>
                                06
                            </div>
                        </div>
                    </div>

                </div>

                <!--QUALIFICATION CONTENIDO 2 FUNDACION-->
                <div class="qualification__content " data-content id="work">
                    <!--QUALIFICATION 1-->
                    <div class="qualification__data">
                        <div>
                            <h3 class="qualification__title">Unete a nuestra comunidad</h3>
                            <span class="qualification__subtitle">Registrate a KeikiPet</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-arrow-right"></i>
                                01
                            </div>
                        </div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <span class="qualification__line"></span>
                        </div>

                    </div>

                    <!--QUALIFICATION 2-->
                    <div class="qualification__data">

                        <div></div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <span class="qualification__line"></span>
                        </div>

                        <div>
                            <h3 class="qualification__title">Registrate a KeikiPet</h3>
                            <span class="qualification__subtitle">Documentos de la fundación</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-arrow-right"></i>
                                02
                            </div>
                        </div>

                    </div>

                    <!--QUALIFICATION 3-->
                    <div class="qualification__data">
                        <div>
                            <h3 class="qualification__title">Sube tus mascotas</h3>
                            <span class="qualification__subtitle">Haz que todos las conozcan</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-arrow-right"></i>
                                03
                            </div>
                        </div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <span class="qualification__line"></span>
                        </div>
                        
                    </div>

                    <!--QUALIFICATION 4-->
                    <div class="qualification__data">
                        <div></div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <span class="qualification__line"></span>
                        </div>

                        <div>
                            <h3 class="qualification__title">Atencion oportuna</h3>
                            <span class="qualification__subtitle">Servicio al cliente</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-arrow-right"></i>
                                04
                            </div>
                        </div>
                    </div>
                    
                    <!--QUALIFICATION 5-->
                    <div class="qualification__data">
                        <div>
                            <h3 class="qualification__title">Entrevista a la persona</h3>
                            <span class="qualification__subtitle">Escoge al más apropiado</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-arrow-right"></i>
                                05                          
                            </div>
                        </div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <span class="qualification__line"></span>
                        </div>
                        
                    </div>

                    <!--QUALIFICATION 6-->
                    <div class="qualification__data">
                        <div></div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <!--<span class="qualification__line"></span>-->
                        </div>

                        <div>
                            <h3 class="qualification__title">Entrega a la mascota</h3>
                            <span class="qualification__subtitle">Que empice su nueva vida</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-arrow-right"></i>
                                06
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>

    <!--SKILLS-->
    <section class="skills section" id="skills">
        <h2 class="section__title">Consejos</h2>
        <span class="section__subtitle">Aprende a cuidarlos</span>

        <div data-aos="fade-up" class="skills__container container grid">
            <div>
                <!--SKILL 1-->
                <div class="skills__content skills__open">
                    <div class="skills__header">
                        <i class="uil uil-shopping-basket skills__icon"></i>
                        <div>
                            <h1 class="skills__title">Alimentación</h1>
                            <span class="skills__subtitle">Bonitos y gorditos</span>
                        </div>
                        <i class="uil uil-angle-down skills__arrow"></i>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Dieta</h3>
                                <br>
                            </div>
                            <div class="lista">
                                <li> <span>Razas medianas - grandes:</span> 3% de su peso. Un animal de 20kg va a necesitar 600gr de comida al día. <br></li> 
                                <li><span>Razas pequeñas:</span> 4-5% de su peso. Un animal de 5kg va a necesitar entre 200 y 250gr de comida al día.</li> 
                            </div>
                            
                        </div>
                    </div>

                </div>
            
                <!--SKILL 2-->
                <div class="skills__content skills__close">
                    <div class="skills__header">
                        <i class="uil uil-bath skills__icon"></i>

                        <div>
                            <h1 class="skills__title">Higiene</h1>
                            <span class="skills__subtitle">¡Que huela rico!</span>
                        </div>
                        <i class="uil uil-angle-down skills__arrow"></i>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Baños</h3>
                            </div>
                            <div class="lista">
                                <p> <span>Indicadores de que tu perro necesita un baño:</span></p>
                                <li>Si notas que se siente muy acalorado, es aconsejable refrescarle con un baño, sobre todo en verano.</li> 
                                <li>Si ha estado haciendo mucho ejercicio, reconfortarle con un buen baño le proporcionará gran placer.</li> 
                                <li>Si presenta demasiada suciedad como arena de la playa, manchas, barro o polvo.</li>         
                                <li>Si su pelaje presenta mal olor conviene bañarle.</li> 
                                <li>Si está en época de muda es fundamental que le cepilles a diario para eliminar la suciedad y los enredos.</li>                          
                            </div>
                        </div>

                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Dientes</h3>
                            </div>
                            <div class="lista">
                                <p> <span>Al limpiar los dientes de tu perro, debes tener en cuenta lo siguiente:</span></p>
                                <li>En los colmillos y muelas traseras se acumula más sarro.</li> 
                                <li>Necesitas tiempo y paciencia para que tu perro se acostumbre. No le fuerces.</li> 
                                <li>Debes intentar que asocie la limpieza bucal con algo positivo, como un premio.</li>                                 
                            </div>
                        </div>

                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Uñas</h3>
                            </div>
                            <div class="lista">
                                <p> <span>Más allá de incluir el corte de uñas en tu perro cuando lo bañas o aseas, es bueno tener en cuenta ciertos cuidados específicos para esta zona:</span></p>
                                <li>Determina el momento adecuado para el corte.</li> 
                                <li>Corta poco a poco</li> 
                                <li>Elige unas buenas tijeras</li>     
                                <li>Limpia las uñas</li>                                
                            </div>
                        </div>

                    </div>

                </div>           
            
                <!--SKILL 3-->
                <div class="skills__content skills__close">
                    <div class="skills__header">
                        <i class="uil uil-heart-medical skills__icon"></i>

                        <div>
                            <h1 class="skills__title">Salud</h1>
                            <span class="skills__subtitle">Cuidalo de peligros</span>
                        </div>
                        <i class="uil uil-angle-down skills__arrow"></i>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Desparasitación</h3>
                            </div>
                            <div class="lista">
                                <p> <span>Los síntomas mediante los que puedes identificar esta afección, son los siguientes:</span></p>
                                <li>Diarreas o vómitos.</li> 
                                <li>Vientre inflamado.</li> 
                                <li>Encías pálidas.</li>
                                <li>Apatía.</li> 
                                <li>Pérdida de apetito.</li> 
                                <li>Estreñimiento.</li>                                     
                            </div>
                        </div>
                
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Antipulgas</h3>
                            </div>
                            <div class="lista">
                                <p> <span>te recomendamos seguir algunos hábitos fáciles de adoptar para prevenir las pulgas y garrapatas en los perros, tales como:</span></p>
                                <li>Cepilla su pelo cada 2-3 días.</li> 
                                <li>Báñalos con champús especiales para la prevención de pulgas.</li> 
                                <li>Usa collares para prevenir que las pulgas se suban a su pelaje.</li>
                                <li>Mantén una perfecta higiene en toda la casa y, especialmente, en las zonas más habitadas por el perro y en sus objetos.</li> 
                                <li>Cuando salgas a la calle con él, es importante hacerlo por lugares en los que no predominen arbustos ni insectos, tal y como sucede en algunos parques.</li>                                
                            </div>
                        </div>
                    </div>

                </div>
                
                <!--SKILL 4-->
                <div class="skills__content skills__close">
                    <div class="skills__header">
                        <i class="uil uil-tennis-ball skills__icon"></i>
                        <div>
                            <h1 class="skills__title">Actividades</h1>
                            <span class="skills__subtitle">Juega y aprende</span>
                        </div>
                        <i class="uil uil-angle-down skills__arrow"></i>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Caminatas</h3>
                            </div>
                            <div class="lista">
                                <p> <span>Recomendaciones para un paseo</span></p>
                                <li>Camina delante de tu perro</li> 
                                <li>Usa una correa corta</li> 
                                <li>Premia el buen comportamiento</li>
                                <li>No permitas que te lleve</li>                              
                            </div>
                        </div>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Descanso</h3>
                            </div>
                            <div class="lista">
                                <p>Si gasta sus energías jugando y corriendo, estará deseando que llegue la noche para recuperarlas. 
                                    El ejercicio es necesario y muy beneficioso para la salud de tu perro. Además de ayudar a su desarrollo físico y mental, 
                                    favorecerá un descanso de calidad. Los juguetes son un gran aliado para este fin. Con juguetes tu perro se divertirá y 
                                    hará ejercicio sin darse cuenta. Lo recomendable es al menos 20 minutos de ejercicio al día. Si puedes darle un largo paseo 
                                    después de la comida de la noche, podrá digerir mejor la cena y descansará como un angelito canino.</p>                           
                            </div>
                        </div>
                    </div>

                </div>        

            </div>
        </div>   
    </section>

    <!--LOGIN / PORTAFOLIO-->
    <section class="portafolio section" id="portafolio">
        <h2 class="section__title">Ingresa</h2>
        <span class="section__subtitle">Busca tu amigo ideal</span>

        <div data-aos="fade-up" class="portafolio__container container">
            <div class="portafolio__content">

                
                <a href="http://127.0.0.1:5000/datos_registro" class="portafolio__registro button2">
                    <i class="uil uil-clinic-medical qualification__icon"></i>
                    Check in
                </a>

                <a href="http://127.0.0.1:5000/datos_ingreso" class="portafolio__login button2">
                    <i class="uil uil-user-circle qualification__icon"></i>
                    Log in
                </a>

            </div>
        </div>
    </section>

    <!--CONTACT ME-->

    <section class="contact section" id="contact">
        <h2 class="section__title">Contacto</h2>
        <span class="section__subtitle">Ponte en contacto</span>

        <div data-aos="fade-up" class="contact__container container grid">
            <div>
                <div class="contact__information">
                    <i class="uil uil-phone-alt contact__icon"></i>
                    <div>
                        <h3 class="contact__title">Número</h3>
                        <span class="contact__subtitle">313 856 5531 | 537 22 24</span>
                    </div>
                </div>

                <div class="contact__information">
                    <i class="uil uil-envelope contact__icon"></i>
                    <div>
                        <h3 class="contact__title">Email</h3>
                        <span class="contact__subtitle">petkeiki@gmail.com</span>
                    </div>
                </div>

                <div class="contact__information">
                    <i class="uil uil-map-marker contact__icon"></i>
                    <div>
                        <h3 class="contact__title">Ubicación</h3>
                        <span class="contact__subtitle">Bogotá - Colombia</span>
                    </div>
                </div>

            </div>

            <form action="mailto:skrillexkanht@gmail.com" method="POST" class="contact__form grid">

                <div class="contact__inputs grid">
                    <div class="contact__content">
                        <label for="" class="contact__label">Nombre</label>
                        <input type="text" name="name" class="contact__input" required> 

                    </div>
                    <div class="contact__content">
                        <label for="" class="contact__label">Email</label>
                        <input type="email" name="email" class="contact__input" required> 
                        
                    </div>
                </div>

                <div class="contact__content">
                    <label for="" class="contact__label">Asunto</label>
                    <input type="text" name="asunto" class="contact__input"> 
                    
                </div>
                <div class="contact__content">
                    <label for="" class="contact__label">Mensaje
                        <textarea name="" id="" cols="0" rows="7" class="contact__input" required></textarea> 
                    </label>
                    
                </div>

                <div>
                    <button type="submit" class="button button--flex">
                        Enviar
                        <i class="uil uil-message button__icon"></i>
                    </button>
                </div>

            </form>
        </div>
    </section>

    <!--END MAIN-->
    </main>

    <!--FOOTER-->
    <footer class="footer">
        <div class="footer__bg">
            <div class="footer__container container grid">
                
                <div class="footer__data">
                    <h1 class="footer__title">KeikiPet</h1>
                    <span class="footer_subtitle">Red Social para ayudar a los peludos del mundo</span>
                </div>

                <div class="footer__socials">
                    <a href="https://www.facebook.com/" target="blank" class="footer__social">
                        <i class="uil uil-facebook-f"></i>
                    </a>

                    <a href="https://www.instagram.com/keiki_pet/" target="blank" class="footer__social">
                        <i class="uil uil-instagram"></i>
                    </a>

                    <a href="https://www.youtube.com/" target="blank" class="footer__social">
                        <i class="uil uil-play"></i>
                    </a>
                </div>
            </div>

            <p class="footer__copy">Bogota D.C. | Colombia<br>2021</p>
        </div>
    </footer>

{%endblock%}