{%extends './base.html' %}

{%block title%} Log Usuario {%endblock%}

{%block body %}

    <!--HEADER-->
    <header class="header" id="header">
        <nav class="nav container">

            <div class="nav__btns">
                <!--Theme-->
                <i class="uil uil-moon change-theme" id="theme-button"></i>
            </div>

            <a href="http://127.0.0.1:5000/ver" class="nav__logo">
                <i class="uil uil-angle-left nav__icon"></i>
                Keiki<span>Pet</span>
            </a>
        </nav>
    </header>


    
    <main class="main">

        <section class="logusuario section">
            <h2 class="section__title">Check <span>in</span> Usuario</h2>
            <span class="section__subtitle">¡Haz parte de nuestra comunidad!</span>

            <div data-aos="fade-up" class="logusuario__container container">

                <form action="/log_mascota/{{Nombre}}/" method="POST" class="logusuario__form grid">

                    <div class="logusuario__inputs grid">

                        <div class="logusuario__content" style="text-align: center;">
                            <!--NOMBRE-->
                            <h3><span>{{Nombre}}</span></h3>
                        </div>

                        <div class="logusuario__content">
                            <!--NOMBRE-->
                            <label for="" class="logusuario__label">Nombre mascota</label>
                            <input type="text" name="Name" id="usuario" class="logusuario__input" required></br>
    
                        </div>
                        <div class="logusuario__content">
                            <!--EDAD-->
                            <label for="" class="logusuario__label">Edad</label>
                            <input type="text" name="Edad" id="edad" class="logusuario__input" required></br>

                        </div>

                        <div class="logusuario__content select">
                            <!--GENERO-->
                            <label for="" class="logusuario__label">Sexo</label>

                            <select name="Sexo">
                                <option name="Sexo" id="Sexo" value="Hembra">Hembra</option>
                                <option name="Sexo" id="Sexo" value="Macho" selected>Macho</option>
                            </select>
                            <i></i>
                        </div>

                        <div class="logusuario__content">
                            <!--DESCRIPCION-->
                            <label for="" class="logusuario__label">Descripcion</label>
                            <input type="text" name="Descripcion" id="contraseña" class="logusuario__input" required></br>
                        </div>

                        <div class="logusuario__content">
                            <!--CUALIDADES-->
                            <label for="" class="logusuario__label">Cualidades</label>
                            <input type="text" name="Cualidades" id="Cualidades" class="logusuario__input" required></br>
                        </div>
                    </div>
    
                    <div>
                        <input type="submit" value="Registrar" class="button button--flex">
                    </div>
    
                </form>

            </div>

        </section>

        <!--FOOTER-->
        <footer class="footer">
            <div class="footer__bg">
                <div class="footer__container container grid">
                    
                    <div class="footer__data">
                        <h1 class="footer__title">KeikiPet</h1>
                        <span class="footer_subtitle">Red Social para ayudar a los peludos del mundo</span>
                    </div>

                    <div class="footer__socials">
                        <a href="https://www.facebook.com/brayan.beltran.7" target="blank" class="footer__social">
                            <i class="uil uil-facebook-f"></i>
                        </a>

                        <a href="https://www.instagram.com/keiki_pet" target="blank" class="footer__social">
                            <i class="uil uil-instagram"></i>
                        </a>

                        <a href="https://www.youtube.com/channel/UCg-lQMTED3jo9vcuF0tDAgg" target="blank" class="footer__social">
                            <i class="uil uil-play"></i>
                        </a>
                    </div>
                </div>

                <p class="footer__copy">Bogota D.C. | Colombia<br>2021</p>
            </div>
        </footer>

    </main>

{%endblock%}